node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/repos/
/cache/
/.idea/
/tests/results.txt
/data.json
quality-vs-ratings.csv

repos-original/

input.csv
human.csv
machine.csv

python/spaghetti

cache2

hercules
!hercules/python/labours/modes/old_vs_new.py

vendor/
